$white: #D9D9D9;
$pink1:#DC468E;
$pink2:#DE5596;
$pink3:#FD94C5;
$pink4:#FFBCDB;
$bgColor:#331B62;
$size: 16px;
$menuSize:3*$size;
$borderSize: calc($size/3);

@font-face {
  font-family: "Bubbleboddy Neue";
  // src: url("~assets/fonts/bubblebody.woff2") format("woff2");
  src: url("/fonts/bubblebody.woff2") format("woff2");
  font-display: block;
}

$firstFont: Bubbleboddy Neue, Avenir, Helvetica, Arial, sans-serif;
$secondFont: Avenir, Helvetica, Arial, sans-serif;

@mixin stroke($size, $color) {
  $minusSize : ($size - 2*$size);
  /* $strokeColor : invert($fontColor); */
  text-shadow:
  $size $size 0 $color,
  $minusSize $minusSize 0 $color,  
  $size $minusSize 0 $color,
  $minusSize $size 0 $color,
  $size $size 0 $color;
}

@mixin linearGradient($color1, $color2, $color3) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient($color1 0%, $color2 50%, $color3 100%); /* FF3.6+ */
  background: -webkit-linear-gradient($color1 0%,$color2 50%,$color3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($color1 0%,$color2 50%,$color3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient($color1 0%,$color2 50%,$color3 100%); /* IE10+ */
  background: linear-gradient($color1 0%,$color2 50%,$color3 100%); /* W3C */
  -webkit-print-color-adjust: exact !important;
}

// COLORS OF DEPTHS
@mixin colorPack($color){
  border-color:$color!important;
  background-color:rgba($color, .5);
  > dt{
    background-color:$color;
  }
}


%simpleBox{
  background-color:rgba(255, 255, 255, 0.4);
  border:3px solid #fff;
  border-radius:10px;
  margin:.5em 0;


}


a{
  text-decoration:none;

}


*{ box-sizing:border-box; }